<div class="error-auth">
    <h2>Este usuario ya exitse</h2>
    <button onclick="location.href='/register'">Volver a registro</button>
    <button onclick="location.href='/login'">¿Ya tienes cuenta? Ingresa</button>
</div>