<div class="error-auth">
    <h2>Email o Contraseña incorrectos</h2>
    <button onclick="location.href='/register'">Registrarse</button>
    <button onclick="location.href='/login'">Volver a Login</button>
</div>