<div class="registerContainer">
    <h1>Login</h1>
    <form action="/users/login" method="post" class="form">
        <div class="row">
            <label for="email" class="label">Email</label>
            <input type='email' name='email' id='email' class="input" />
        </div>
        <div class="row">
            <label for="password" class="formLabel">Password</label>
            <input type='password' name='password' id='password' class="input" />
        </div>

        <div class="divButton">
            <button type='submit' class="btn">Login</button>
        </div>
        <a href="/register">Need an account?</a>
        <div class="divGithub">
            <a href="/users/register-github">Ingresa con Github</a>
        </div>

    </form>
</div>