<main>
    <h1>Real Time products</h1>
    <div class="listaContainer" id="containerList">

   
    </div>
</main>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="js/index.js" charset="utf-8"></script>
<script src="js/styles.js"></script>