*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
body{
    min-height: 100vh;
    background: hsl(0 0% 6%);
}
main{
    padding: 1rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin-top: 1rem;
    text-align: center;
    color: hsl(0 0% 100%);
}
.listaContainer{
    padding: 0;
    margin: 1rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.productoContainer{
    background: hsl(0 0% 10%);
    width: 230px;
    aspect-ratio: 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: background 0.1s;
    padding: 1rem;
    border: .5rem;
    cursor: pointer;
}
.productoContainer:hover{
    --active: 1;
}
.productoContainer::after{
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsla(0, 0%, 19%, 0.15), transparent 15vmin);
    background-attachment: fixed;
    opacity: var(1, 0);
    transition: opacity 0.2s;
    pointer-events: none;
}
.productoContainer::before{
    content: "";
    position: absolute;
    inset: 0;
    background:
    radial-gradient(
        circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
        hsl(0 0% 100% / 0.5), transparent 10vmin),
      transparent;
    background-attachment: fixed;
    pointer-events: none;
    mask:
      linear-gradient(white, rgb(255, 255, 255)) 50% 0 / 100% 1px no-repeat,
      linear-gradient(white, white) 50% 100% / 100% 1px no-repeat,
      linear-gradient(white, white) 0 50% / 1px 100% no-repeat,
      linear-gradient(white, white) 100% 50% / 1px 100% no-repeat;
}
li{
    list-style: none;
    color: hsl(0, 0%, 64%);
}
.title{
    font-family: sans-serif, system-ui;
    font-weight: bold;
    font-size: 2rem;
    color: hsl(0 0% 100%);
}
.addToCart{
    padding: 0.5rem;
    background-color: rgb(192, 192, 192);
    border-radius: 0.5rem;
    margin: auto;
    cursor: pointer;
}
.paginationContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.paginationButton{
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}
.paginationButton a{
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}


/* FORMULARIO */
.registerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
.form {
    width: 420px;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    gap: 1rem;
}
.row{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input{
    color: black;
    padding: 0.65rem;
    border-radius: 1rem;
}
.divButton {
    width: 30%;

}
.btn {
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100%;
    background-color: blueviolet;
    transition: 0.3s all ease;
}
.btn:hover{
    background-color: rgb(79, 25, 130);
}
.header{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header h1 a{
    text-decoration: none;
}
.btn2 {
    width: 10%;
    height: 50px;
    color: black;
    cursor: pointer;
}

.divGithub { 
    border: 0.7px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.divGithub a{
    padding: 0.5rem 1rem; 
    text-decoration: none;
    width: 100%;

}

.divGithub:hover{
    background-color: rgb(78, 78, 78);
}

.error-auth{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.error-auth button{
    padding: 0.5rem 1rem;
    background-color: rgb(52, 51, 51);
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
}

.error-auth button:hover {
    background-color: white;
    color: black;
}