<header class="header">
    <h1><a href="/products">Productos</a></h1>
    <div class="headerDiv">
      {{#if user }}
        <button onclick="location.href='/users/logout'" class="btn2">Logout</button>
      {{else}}
        <button onclick="location.href='/login'" class="btn2">Login</button>
      {{/if}}
      <button onclick="location.href='/docs'" class="btn3">Docs</button>
    </div>

</header>